@media only screen and (min-width: 769px) {
  .logo {
    animation-name: rotate;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
  }

  .first-heading {
    transition: 0.4s;
  }

  .first-heading:hover {
    transform: translate(20px);
  }

  .wo-section1,
  .a-langs ul li {
    transition: 0.5s 0.1s;
  }

  .w-langs ul li,
  .t-links ul li {
    transition: 0.1s;
  }

  .a-frame ul li {
    transition: 0.4s;
  }

  .wo-section1:hover,
  .wo-section4:hover,
  .a-langs ul li:hover {
    transform: scale(1.1);
  }

  .a-description p,
  .work-paragraph {
    transition: 0.2s;
  }

  .links ul li:hover,
  .w-paragraph:hover,
  .w-langs ul li:hover {
    transform: scale(1.1);
    border-bottom: #4453f1;
  }

  .t-links h3 a,
  .a-connect h3 a {
    transition: 0.1s;
  }

  .t-links h3 a:hover,
  .a-connect h3 a:hover {
    color: blue;
  }

  button,
  #send {
    transition: 0.2s;
  }

  button:hover,
  #send:hover {
    background-color: #4453f1;
    transform: scale(1.1);
  }

  .f-heading,
  h2 {
    transition: 0.4s;
  }
}
